*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    padding: 20px;
    background-color: #f5f5f5;
}
/* BASIC */
button,
dialog form :last-child input{
    background-color: dodgerblue;
    color:white;
    font-size: .8rem;
    font-weight: 700;
    padding: 5px 20px;
    border: 2px solid dodgerblue;
    border-radius: 10px;
}
button:hover,
dialog form :last-child input:hover{
    background-color: white;
    color:black;
}
h1{
    color: dodgerblue;
    margin-bottom: 40px;
}
/* .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    gap:20px;
    grid-template-areas: 
        "buttons"
        "books";
} */
.container{
    display: grid;
    gap:20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "buttons"
        "books";
}
.buttons{
    grid-area: buttons;
}
.books{
    grid-area: books;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-rows: 120px; */
    gap:20px;
}

/* BOOK CARDS */
.book{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-bottom: 4px solid dodgerblue;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
}
.book > h3{
    margin-bottom: 10px;
}
.book > p {
    font-size: .9rem;
    margin-top: 8px;
}
.book > p > span{
    font-weight: 700;
}
.book > p > span.book-read{
    color: red;
}
.read{
    color: green !important;
}
.book .book-actions{
    margin-top:20px;
    display: flex;
    gap: 20px;
}
.book .book-actions > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.book .book-actions > div span{
    font-size: .6rem;
    text-transform: uppercase;
    color:gray;
}

/* DIALOG */
dialog{
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    margin: 5% auto;
    width: 80%;
    max-width: 350px;
    background-color: white;
    padding: 20px;
    border: 0;
    border-radius: 10px;
}
dialog h2{
    text-align: center;
    color: dodgerblue;
}
dialog form{
    margin-top:30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
dialog form .form-group{
    display: flex;
    align-items: center;
    gap:10px;
}
dialog form .form-group:last-child{
    margin-top:30px;
}
dialog form label{
    width: 24%;
    text-align: left;
}
dialog form input{
    border:1px solid dodgerblue;
    border-radius: 6px;
    padding: 5px 10px;
}
dialog form input[type="checkbox"]{
    width: 16px;
    height: 16px;
}
dialog form input[type="text"],
dialog form input[type="number"]{
    width: 100%;
}
dialog form input:focus{
    outline: 1px solid dodgerblue;
}
dialog form input:focus:invalid{
    outline: 1px solid dodgerblue;
    border-color: dodgerblue;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}
dialog form input::placeholder{
    color: gray;
}
dialog form input:invalid{
    border-color: red;
}
dialog form output{
    font-size: 0.8rem;
}
::backdrop{
    background-color: rgba(0,0,0,0.8);
}

/* @media (min-width: 900px){
    .container{
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "books buttons";
    }
} */